In [ ]:
import tensorflow as tf
from tensorflow import keras

import os
import tempfile

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

import sklearn
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
mpl.rcParams['figure.figsize'] = (12, 10)
colors = plt.rcParams['axes.prop_cycle'].by_key()['color']

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)

In [ ]:
from google.colab import files
files.upload()

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

# change the permission
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
import itertools
from sklearn.metrics import confusion_matrix



# Our function needs a different name to sklearn's plot_confusion_matrix
def make_confusion_matrix(y_true, y_pred, classes=None, figsize=(10, 10), text_size=15): 
  """Makes a labelled confusion matrix comparing predictions and ground truth labels.

  If classes is passed, confusion matrix will be labelled, if not, integer class values
  will be used.

  Args:
    y_true: Array of truth labels (must be same shape as y_pred).
    y_pred: Array of predicted labels (must be same shape as y_true).
    classes: Array of class labels (e.g. string form). If `None`, integer labels are used.
    figsize: Size of output figure (default=(10, 10)).
    text_size: Size of output figure text (default=15).
  
  Returns:
    A labelled confusion matrix plot comparing y_true and y_pred.

  Example usage:
    make_confusion_matrix(y_true=test_labels, # ground truth test labels
                          y_pred=y_preds, # predicted labels
                          classes=class_names, # array of class label names
                          figsize=(15, 15),
                          text_size=10)
  """  
  # Create the confustion matrix
  cm = confusion_matrix(y_true, y_pred)
  cm_norm = cm.astype("float") / cm.sum(axis=1)[:, np.newaxis] # normalize it
  n_classes = cm.shape[0] # find the number of classes we're dealing with

  # Plot the figure and make it pretty
  fig, ax = plt.subplots(figsize=figsize)
  cax = ax.matshow(cm, cmap=plt.cm.Blues) # colors will represent how 'correct' a class is, darker == better
  fig.colorbar(cax)

  # Are there a list of classes?
  if classes:
    labels = classes
  else:
    labels = np.arange(cm.shape[0])
  
  # Label the axes
  ax.set(title="Confusion Matrix",
         xlabel="Predicted label",
         ylabel="True label",
         xticks=np.arange(n_classes), # create enough axis slots for each class
         yticks=np.arange(n_classes), 
         xticklabels=labels, # axes will labeled with class names (if they exist) or ints
         yticklabels=labels)
  
  # Make x-axis labels appear on bottom
  ax.xaxis.set_label_position("bottom")
  ax.xaxis.tick_bottom()

  # Set the threshold for different colors
  threshold = (cm.max() + cm.min()) / 2.

  # Plot the text on each cell
  for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
    plt.text(j, i, f"{cm[i, j]} ({cm_norm[i, j]*100:.1f}%)",
             horizontalalignment="center",
             color="white" if cm[i, j] > threshold else "black",
              size=text_size)

In [ ]:
!kaggle competitions download -c tabular-playground-series-jun-2021

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv.zip to /content
 77% 5.00M/6.49M [00:00<00:00, 30.2MB/s]
100% 6.49M/6.49M [00:00<00:00, 31.7MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/264k [00:00<?, ?B/s]
100% 264k/264k [00:00<00:00, 83.3MB/s]
Downloading test.csv.zip to /content
  0% 0.00/3.14M [00:00<?, ?B/s]
100% 3.14M/3.14M [00:00<00:00, 216MB/s]

In [ ]:
!ls

'kaggle (1).json'   sample_submission.csv       test.csv       train.csv
 kaggle.json	    sample_submission.csv.zip   test.csv.zip   train.csv.zip

In [ ]:
!unzip test.csv.zip

In [ ]:
!unzip train.csv.zip

In [ ]:
!unzip sample_submission.csv.zip

In [ ]:
!ls

'kaggle (1).json'   sample_submission.csv       test.csv       train.csv
 kaggle.json	    sample_submission.csv.zip   test.csv.zip   train.csv.zip

In [ ]:
!rm -rf kaggle.json sample_data sample_submission.csv.zip train.csv.zip test.csv.zip

In [ ]:
!ls

'kaggle (1).json'   sample_submission.csv   test.csv   train.csv

# **Preprocessing---------------**

In [ ]:
import pandas as pd
ss = pd.read_csv("sample_submission.csv")
ss.head(5)

       id  Class_1  Class_2  Class_3  ...  Class_6  Class_7  Class_8  Class_9
0  200000   0.1111   0.1111   0.1111  ...   0.1111   0.1111   0.1111   0.1111
1  200001   0.1111   0.1111   0.1111  ...   0.1111   0.1111   0.1111   0.1111
2  200002   0.1111   0.1111   0.1111  ...   0.1111   0.1111   0.1111   0.1111
3  200003   0.1111   0.1111   0.1111  ...   0.1111   0.1111   0.1111   0.1111
4  200004   0.1111   0.1111   0.1111  ...   0.1111   0.1111   0.1111   0.1111

[5 rows x 10 columns]

In [ ]:
import pandas as pd
df_train = pd.read_csv("train.csv")
df_train.head(5)

   id  feature_0  feature_1  ...  feature_73  feature_74   target
0   0          0          0  ...           0           0  Class_6
1   1          0          0  ...           1           0  Class_6
2   2          0          0  ...           0           0  Class_2
3   3          0          0  ...           3           0  Class_8
4   4          1          0  ...           0           0  Class_2

[5 rows x 77 columns]

In [ ]:
import pandas as pd
test_df = pd.read_csv("test.csv")
test_df.head(5)

       id  feature_0  feature_1  ...  feature_72  feature_73  feature_74
0  200000          0          0  ...           0           0           0
1  200001          1          2  ...           3           0           0
2  200002          0          1  ...           2           0           0
3  200003          0          0  ...           4           0           0
4  200004          0          0  ...           0           1           0

[5 rows x 76 columns]

In [ ]:
list_features = []
for i in range (74):
  list_features.append(f"feature_{i+1}")

In [ ]:
df_train[list_features].describe()

           feature_1      feature_2  ...    feature_73     feature_74
count  200000.000000  200000.000000  ...  200000.00000  200000.000000
mean        1.168365       2.219325  ...       2.94021       0.632005
std         3.993407       6.476570  ...      10.78465       3.925310
min         0.000000       0.000000  ...       0.00000       0.000000
25%         0.000000       0.000000  ...       0.00000       0.000000
50%         0.000000       0.000000  ...       0.00000       0.000000
75%         1.000000       1.000000  ...       1.00000       0.000000
max        51.000000      64.000000  ...     130.00000      52.000000

[8 rows x 74 columns]

# Clean, split and normalize the data

In [ ]:
cleaned_df = df_train.copy()

# You don't want the `Time` column.
cleaned_df.pop('id')
cleaned_df.head()

   feature_0  feature_1  feature_2  ...  feature_73  feature_74   target
0          0          0          6  ...           0           0  Class_6
1          0          0          0  ...           1           0  Class_6
2          0          0          0  ...           0           0  Class_2
3          0          0          7  ...           3           0  Class_8
4          1          0          0  ...           0           0  Class_2

[5 rows x 76 columns]

In [ ]:
test_df.pop("id")

0        200000
1        200001
2        200002
3        200003
4        200004
          ...
99995    299995
99996    299996
99997    299997
99998    299998
99999    299999
Name: id, Length: 100000, dtype: int64

In [ ]:
test_df.head()

   feature_0  feature_1  feature_2  ...  feature_72  feature_73  feature_74
0          0          0          0  ...           0           0           0
1          1          2          0  ...           3           0           0
2          0          1          7  ...           2           0           0
3          0          0          0  ...           4           0           0
4          0          0          5  ...           0           1           0

[5 rows x 75 columns]

In [ ]:
train_df, val_df = train_test_split(cleaned_df, test_size=0.2)

In [ ]:
train_df_temp = train_df.copy()
val_df_temp = val_df.copy()

# Changing Label Method-1

In [ ]:
train_df.replace({'Class_1': 0, 'Class_2': 1, 'Class_3':2, 'Class_4': 3, 'Class_5':4,'Class_6':5,'Class_7':6,'Class_8':7,'Class_9':8}, inplace = True)

In [ ]:
train_labels = train_df.pop('target')

In [ ]:
train_df.head()

        feature_0  feature_1  feature_2  ...  feature_72  feature_73  feature_74
66207           0          0          6  ...           0           0           0
31874           1          0          1  ...           1           0           0
150532          0          3         61  ...           1           0           3
131040          1          0          0  ...           0           2           0
64162           0         12         19  ...           1           7           4

[5 rows x 75 columns]

In [ ]:
train_labels.head()

66207     7
31874     5
150532    7
131040    8
64162     5
Name: target, dtype: int64

In [ ]:
train_df.shape,train_labels.shape

((160000, 75), (160000,))

In [ ]:
val_df.replace({'Class_1': 0, 'Class_2': 1, 'Class_3':2, 'Class_4': 3, 'Class_5':4,'Class_6':5,'Class_7':6,'Class_8':7,'Class_9':8}, inplace = True)
val_labels = val_df.pop('target')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4389: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [ ]:
val_df.head()

        feature_0  feature_1  feature_2  ...  feature_72  feature_73  feature_74
22837          28          0          0  ...           1           0           0
140122          0          0          0  ...           0           0           2
189262          0          0          0  ...           0           0           0
83261           5          0          3  ...           0           0           0
172237          0          0          0  ...           0           0           0

[5 rows x 75 columns]

In [ ]:
val_labels.head()

# Changing Label Method -2

In [ ]:
# Another Method for assigning label
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(cleaned_df["target"])
list_classes = list(le.classes_)
list_classes

train_labels_new= le.transform(train_df_temp["target"])
val_labels_new = le.transform(val_df_temp["target"])
# test_labels_new = le.transform(val_df["target"])       #we do not have test label

In [ ]:
train_labels.shape, train_labels.dtype

((160000,), dtype('int64'))

In [ ]:
train_labels_new.shape, train_labels_new.dtype

((160000,), dtype('int64'))

In [ ]:
x = np.array(train_labels)
x

array([7, 5, 7, ..., 8, 4, 5])

In [ ]:
train_labels_new

array([7, 5, 7, ..., 8, 4, 5])

In [ ]:
assert np.array(train_labels).all()==train_labels_new.all()

# Hence Both Methods are Same

In [ ]:
train_features = np.array(train_df)
val_features = np.array(val_df)
test_features = np.array(test_df)

In [ ]:
test_features.shape, val_features.shape

In [ ]:
test_df.head()

In [ ]:
scaler = StandardScaler()
train_features = scaler.fit_transform(train_features)

val_features = scaler.transform(val_features)
test_features = scaler.transform(test_features)

train_features = np.clip(train_features, -5, 5)
val_features = np.clip(val_features, -5, 5)
test_features = np.clip(test_features, -5, 5)


print('Training labels shape:', train_labels.shape)
print('Validation labels shape:', val_labels.shape)
print('Test labels shape:', test_labels.shape)

print('Training features shape:', train_features.shape)
print('Validation features shape:', val_features.shape)
print('Test features shape:', test_features.shape)

# **Define the model and metrics**

In [ ]:
# METRICS = [
#       keras.metrics.TruePositives(name='tp'),
#       keras.metrics.FalsePositives(name='fp'),
#       keras.metrics.TrueNegatives(name='tn'),
#       keras.metrics.FalseNegatives(name='fn'), 
#       keras.metrics.BinaryAccuracy(name='accuracy'),
#       keras.metrics.Precision(name='precision'),
#       keras.metrics.Recall(name='recall'),
#       keras.metrics.AUC(name='auc'),
#       keras.metrics.AUC(name='prc', curve='PR'), # precision-recall curve
# ]

# def make_model(metrics=METRICS, output_bias=None):
#   if output_bias is not None:
#     output_bias = tf.keras.initializers.Constant(output_bias)
#   model = keras.Sequential([
#       keras.layers.Dense(
#           16, activation='relu',
#           input_shape=(train_features.shape[-1],)),
#       keras.layers.Dropout(0.5),
#       keras.layers.Dense(1, activation='sigmoid',
#                          bias_initializer=output_bias),
#   ])

#   model.compile(
#       optimizer=keras.optimizers.Adam(lr=1e-3),
#       loss=keras.losses.BinaryCrossentropy(),
#       metrics=metrics)

#   return model

In [ ]:
# Set random seed
tf.random.set_seed(42)

# Create the model
model_1 = tf.keras.Sequential([
  tf.keras.layers.Dense(32, activation="relu"),
  tf.keras.layers.Dropout(.1),
  tf.keras.layers.Dense(64, activation="relu"),
  tf.keras.layers.Dense(64, activation="relu"),
  tf.keras.layers.Dropout(.2),
  tf.keras.layers.Dense(64, activation="relu"),
  tf.keras.layers.Dense(64, activation="relu"),
  tf.keras.layers.Dropout(.4),
  tf.keras.layers.Dense(64, activation="relu"),
  tf.keras.layers.Dense(64, activation="relu"),
   tf.keras.layers.Dropout(.4),
  tf.keras.layers.Dense(32, activation="relu"),
  tf.keras.layers.Dropout(.1),
  tf.keras.layers.Dense(9, activation="softmax") # output shape is 10, activation is softmax
])

# Compile the model
model_1.compile(loss=tf.keras.losses.SparseCategoricalCrossentropy(), # different loss function for multiclass classifcation
                 optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
                 metrics=["accuracy"])


# Fit the model
norm_history_1 = model_1.fit(train_features,
                                train_labels,
                                epochs=50,
                                validation_data=(val_features, val_labels),) # see how the model performs on the test set during training